#container{
  background-color: #eee;
  display: flex;
  flex-direction: column;
}
section.info-menu{}
section.info-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.highlight{
  font-weight: bold;
}
