<div id="form-container">
  <h1>Register</h1>
  <form [formGroup]='formModel' (ngSubmit)='onSubmit()' novalidate>
    <div class="form-section">
      <label>
        <span class="label-title">userName</span>
        <br>
        <input type="text" formControlName='userName'>
      </label>
      <div class="validation-message">
        <span [hidden]="!formModel.hasError('required','userName')">userName is required</span>
      </div>
      <br>
      <label>
        <span class="label-title">email</span>
        <br>
        <input type="email" formControlName='email'>
      </label>
      <div class="validation-message"></div>
    </div>
    <div class="form-section" formGroupName='pwdGroup'>
      <label>
        <span class="label-title">pwd</span>
        <br>
        <input type="text" formControlName='pwd'>
      </label>
      <div class="validation-message">
        <span [hidden]="!formModel.hasError('minlength',['pwdGroup','pwd'])">Password is too short</span>
      </div>
      <br>
      <label>
        <span class="label-title">pwdchk</span>
        <br>
        <input type="text" formControlName='pwdchk'>
      </label>
      <div class="validation-message"></div>
    </div>
    <div class="button-section">
      <button id='subbtn' type="submit">Submit</button>
      <button id='canbtn' (click)='goback()'>Cancel</button>
    </div>
  </form>
</div>
