<nav id='header'>
  <ul class="nav-list">
    <li class="nav-items">
      <a [routerLink]="['/home']">
        <hover-button-component [title]="'Home'"></hover-button-component>
      </a>
    </li>
    <li class="nav-items">
      <a [routerLink]="['/about']">
        <hover-button-component [title]="'About'"></hover-button-component>
      </a>
    </li>
    <li class="nav-items">
      <a [routerLink]="['/register']">
        <hover-button-component [title]="'Register'"></hover-button-component>
      </a>
    </li>
    <li class="nav-items">
      <a [routerLink]="['/login']">
        <hover-button-component [title]="'Login'"></hover-button-component>
      </a>
    </li>
  </ul>
</nav>
